body{
    font-family: "papyrus", "comic sans", sans-serif;
    color: slategray;
}

h1{
    background-color: #gold;
}

h2{
    border-bottom: 2px solid black;
}

figure{
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}


