body{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "papyrus", "comic sans", sans-serif;
    color: slategray;
}

h1{
    background-color:khaki;
}

h2{
    border-bottom: 2px solid black;
}

figure{
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

figcaption{
    margin-top: 10px;
}

figure img{
    width: 800px;
}
.matriz-littlecourses{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.fundadores-littlecourses{
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}
